**__pycache__/
**.ipynb_checkpoints/
hightlightdetect_dir/
.idea/
bucket/
tmp_dir/
.DS_Store
celerybeat-schedule*
nohup.out
mp4s/
*.log
*.txt
*.csv
*.png
cutils/lib_hottopic/ips.txt
cutils/lib_hottopic/stars.txt
dbSql.log
test_data/
.celery